:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* REMOVE flex layout from body */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  /* IMPORTANT: space for fixed navbar */
  padding-top: 80px;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
}
